@model GroceryStore.Models.GroceryItem

@{
    ViewBag.Title = "Buy";
}

<h2>Buy</h2>

<div>
    <h4>GroceryItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAlochol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAlochol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

    </dl>
</div>
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            <input type="submit" value="Buy" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</p>
